# Anime Recommendation Database 2020

https://www.kaggle.com/datasets/hernan4444/anime-recommendation-database-2020?resource=download

In [50]:
#importamos librerias 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import cohen_kappa_score
import warnings
warnings.filterwarnings("ignore")
import random
from scipy.sparse import csr_matrix

In [2]:
path = 'C:/Users/guill/Documents/DataScience/Data_Science_ICARO_UNC/Sprint3/Datasets/archive'

## Dataset

In [3]:
df_animelist = pd.read_csv(f'{path}/rating_complete.csv') 
#df_animelist = df_animelist.sample(10000)

In [4]:
df_animelist

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57633273   353404       502       8
57633274   353404       987       4
57633275   353404       225       8
57633276   353404       243       7
57633277   353404       896       7

[57633278 rows x 3 columns]

In [6]:
df_animelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57633278 entries, 0 to 57633277
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 1.3 GB

In [7]:
print(f'El dataset contiene {df_animelist.shape[0]} observaciones y {df_animelist.shape[1]} variables (features)')

El dataset contiene 57633278 observaciones y 3 variables (features)

**Features**

* user_id: non identifiable randomly generated user id.
* anime_id: MyAnemlist ID of the anime. (e.g. 1).
* score: score between 1 to 10 given by the user. 0 if the user didn't assign a score. (e.g. 10)
* watching_status: state ID from this anime in the anime list of this user. (e.g. 2)
* watched_episodes: numbers of episodes watched by the user. (e.g. 24

Tiene nulos?

In [33]:
df_animelist.isna().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

Cuantos usuarios tenemos?

In [9]:
df_animelist.user_id.nunique()

310059

Tenemos 310059 usuarios

## Train y Test

57633278 es el total de filas, si dividimos en 70-30. El train seria 40343295 y test 17289983

In [20]:
random.seed(42)
Train = df_animelist.sample(40343295)

In [21]:
Train.head()

          user_id  anime_id  rating
30883805   189756     36538       8
52661552   322853       160       8
37655964   231234       384       9
33982108   208616      3784       9
27623961   170037     11617       7

In [22]:
Test = df_animelist[~df_animelist.isin(Train)].copy()
Test = Test.dropna()
Test

           user_id  anime_id  rating
0              0.0     430.0     9.0
3              0.0     570.0     7.0
8              0.0    1571.0    10.0
9              0.0     121.0     9.0
12             0.0    2913.0     6.0
...            ...       ...     ...
57633268  353404.0     894.0     7.0
57633269  353404.0     813.0     9.0
57633270  353404.0     893.0     8.0
57633274  353404.0     987.0     4.0
57633276  353404.0     243.0     7.0

[17289983 rows x 3 columns]

In [23]:
Train.user_id.nunique()

307891

In [24]:
Test.user_id.nunique()

300704

Tenemos usuarios que aparezcan en el test y que no esten estén en el train?

In [25]:
Test[~Test.user_id.isin(Train.user_id.unique())].user_id.nunique()

2168

Ahi tendremos que aplicar **cold start**

## Matriz de interacciones

In [43]:
Train_ = Train.sample(10000)

In [44]:
Train_

          user_id  anime_id  rating
46464975   284962     12413       9
26729269   164482       896       6
27687616   170425     31737       5
30475885   187438     28891       9
32327724   198541        26       8
...           ...       ...     ...
32893848   202028     11887       7
39068933   239969       341       9
55099673   337698      7088      10
6907793     42429     15809       9
1495591      9477       227       8

[10000 rows x 3 columns]

In [45]:
interactions_matrix = Train_.pivot(index="user_id", columns="anime_id", values="rating")
interactions_matrix.head()

anime_id,1,5,6,7,16,18,19,20,22,24,...,41619,41926,42057,42603,42668,42723,43467,43555,43779,47398
user_id,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#completamos NaN con 0
interactions_matrix = interactions_matrix.fillna(0)
interactions_matrix.head()

anime_id,1,5,6,7,16,18,19,20,22,24,...,41619,41926,42057,42603,42668,42723,43467,43555,43779,47398
user_id,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
interactions_matrix.shape

(9592, 3398)

transformamos la matriz a csr matrix (compressed sparse row)

In [51]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)
interactions_matrix_csr

<9592x3398 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [52]:
user_ids = list(interactions_matrix.index)
user_dict = {}
counter = 0 
for i in user_ids:
    user_dict[i] = counter
    counter += 1

In [53]:
user_dict

{3: 0,
 41: 1,
 51: 2,
 85: 3,
 147: 4,
 160: 5,
 164: 6,
 204: 7,
 320: 8,
 418: 9,
 446: 10,
 461: 11,
 473: 12,
 554: 13,
 577: 14,
 598: 15,
 601: 16,
 644: 17,
 647: 18,
 669: 19,
 678: 20,
 732: 21,
 787: 22,
 857: 23,
 883: 24,
 890: 25,
 912: 26,
 960: 27,
 1042: 28,
 1177: 29,
 1189: 30,
 1192: 31,
 1209: 32,
 1239: 33,
 1296: 34,
 1297: 35,
 1303: 36,
 1358: 37,
 1397: 38,
 1473: 39,
 1639: 40,
 1670: 41,
 1690: 42,
 1695: 43,
 1697: 44,
 1775: 45,
 1879: 46,
 1938: 47,
 2021: 48,
 2065: 49,
 2081: 50,
 2151: 51,
 2155: 52,
 2220: 53,
 2283: 54,
 2317: 55,
 2346: 56,
 2347: 57,
 2355: 58,
 2411: 59,
 2425: 60,
 2454: 61,
 2576: 62,
 2596: 63,
 2605: 64,
 2691: 65,
 2710: 66,
 2780: 67,
 2787: 68,
 2814: 69,
 2822: 70,
 2855: 71,
 2885: 72,
 2892: 73,
 2938: 74,
 2970: 75,
 2976: 76,
 2982: 77,
 3005: 78,
 3053: 79,
 3081: 80,
 3139: 81,
 3185: 82,
 3187: 83,
 3290: 84,
 3337: 85,
 3363: 86,
 3397: 87,
 3428: 88,
 3436: 89,
 3440: 90,
 3459: 91,
 3502: 92,
 3516: 93,
 3532: 94,
 3578: 95,
 3606: 96,
 3655: 97,
 3701: 98,
 3726: 99,
 3814: 100,
 3838: 101,
 3941: 102,
 3954: 103,
 4010: 104,
 4017: 105,
 4023: 106,
 4026: 107,
 4080: 108,
 4098: 109,
 4110: 110,
 4119: 111,
 4121: 112,
 4170: 113,
 4200: 114,
 4277: 115,
 4330: 116,
 4332: 117,
 4407: 118,
 4424: 119,
 4481: 120,
 4507: 121,
 4564: 122,
 4616: 123,
 4654: 124,
 4757: 125,
 4773: 126,
 4803: 127,
 4812: 128,
 4846: 129,
 4875: 130,
 4879: 131,
 4890: 132,
 4991: 133,
 5043: 134,
 5064: 135,
 5068: 136,
 5069: 137,
 5108: 138,
 5163: 139,
 5197: 140,
 5207: 141,
 5236: 142,
 5248: 143,
 5260: 144,
 5264: 145,
 5270: 146,
 5316: 147,
 5493: 148,
 5530: 149,
 5543: 150,
 5549: 151,
 5595: 152,
 5606: 153,
 5646: 154,
 5648: 155,
 5658: 156,
 5661: 157,
 5677: 158,
 5707: 159,
 5729: 160,
 5762: 161,
 5790: 162,
 5796: 163,
 5824: 164,
 5852: 165,
 5880: 166,
 5944: 167,
 6050: 168,
 6071: 169,
 6090: 170,
 6099: 171,
 6107: 172,
 6149: 173,
 6174: 174,
 6245: 175,
 6439: 176,
 6453: 177,
 6533: 178,
 6560: 179,
 6564: 180,
 6625: 181,
 6649: 182,
 6691: 183,
 6695: 184,
 6715: 185,
 6717: 186,
 6767: 187,
 6774: 188,
 6775: 189,
 6801: 190,
 6813: 191,
 6871: 192,
 6873: 193,
 6925: 194,
 6973: 195,
 6986: 196,
 7003: 197,
 7082: 198,
 7100: 199,
 7135: 200,
 7179: 201,
 7233: 202,
 7241: 203,
 7275: 204,
 7283: 205,
 7291: 206,
 7553: 207,
 7571: 208,
 7588: 209,
 7615: 210,
 7680: 211,
 7688: 212,
 7751: 213,
 7815: 214,
 7833: 215,
 7908: 216,
 7977: 217,
 8009: 218,
 8095: 219,
 8148: 220,
 8184: 221,
 8235: 222,
 8260: 223,
 8286: 224,
 8339: 225,
 8343: 226,
 8344: 227,
 8356: 228,
 8383: 229,
 8549: 230,
 8554: 231,
 8566: 232,
 8574: 233,
 8611: 234,
 8612: 235,
 8614: 236,
 8707: 237,
 8757: 238,
 8771: 239,
 8844: 240,
 8913: 241,
 8942: 242,
 8964: 243,
 8993: 244,
 9012: 245,
 9019: 246,
 9053: 247,
 9137: 248,
 9178: 249,
 9238: 250,
 9282: 251,
 9284: 252,
 9312: 253,
 9381: 254,
 9411: 255,
 9477: 256,
 9479: 257,
 9528: 258,
 9548: 259,
 9554: 260,
 9580: 261,
 9652: 262,
 9664: 263,
 9677: 264,
 9705: 265,
 9740: 266,
 9747: 267,
 9809: 268,
 9814: 269,
 9954: 270,
 9970: 271,
 9982: 272,
 10002: 273,
 10092: 274,
 10160: 275,
 10182: 276,
 10195: 277,
 10205: 278,
 10228: 279,
 10244: 280,
 10255: 281,
 10261: 282,
 10334: 283,
 10365: 284,
 10367: 285,
 10406: 286,
 10517: 287,
 10551: 288,
 10730: 289,
 10737: 290,
 10749: 291,
 10794: 292,
 10836: 293,
 10851: 294,
 10869: 295,
 10975: 296,
 10979: 297,
 10984: 298,
 11048: 299,
 11100: 300,
 11137: 301,
 11200: 302,
 11204: 303,
 11211: 304,
 11237: 305,
 11238: 306,
 11296: 307,
 11308: 308,
 11346: 309,
 11395: 310,
 11569: 311,
 11648: 312,
 11676: 313,
 11690: 314,
 11697: 315,
 11716: 316,
 11811: 317,
 11827: 318,
 11862: 319,
 11945: 320,
 12043: 321,
 12044: 322,
 12066: 323,
 12121: 324,
 12270: 325,
 12338: 326,
 12416: 327,
 12431: 328,
 12448: 329,
 12488: 330,
 12503: 331,
 12514: 332,
 12570: 333,
 12586: 334,
 12600: 335,
 12609: 336,
 12611: 337,
 12617: 338,
 12628: 339,
 12636: 340,
 12652: 341,
 12661: 342,
 12667: 343,
 12670: 344,
 12688: 345,
 12717: 346,
 12731: 347,
 12798: 348,
 12804: 349,
 12813: 350,
 12823: 351,
 12826: 352,
 12848: 353,
 12931: 354,
 12963: 355,
 12966: 356,
 13030: 357,
 13047: 358,
 13050: 359,
 13206: 360,
 13229: 361,
 13234: 362,
 13247: 363,
 13291: 364,
 13323: 365,
 13341: 366,
 13409: 367,
 13503: 368,
 13572: 369,
 13631: 370,
 13764: 371,
 13789: 372,
 13842: 373,
 13843: 374,
 13929: 375,
 13994: 376,
 14010: 377,
 14012: 378,
 14046: 379,
 14059: 380,
 14092: 381,
 14126: 382,
 14206: 383,
 14242: 384,
 14268: 385,
 14335: 386,
 14337: 387,
 14404: 388,
 14411: 389,
 14424: 390,
 14427: 391,
 14441: 392,
 14473: 393,
 14487: 394,
 14536: 395,
 14556: 396,
 14625: 397,
 14764: 398,
 14800: 399,
 14875: 400,
 14927: 401,
 14949: 402,
 15019: 403,
 15063: 404,
 15100: 405,
 15128: 406,
 15158: 407,
 15199: 408,
 15232: 409,
 15286: 410,
 15287: 411,
 15430: 412,
 15432: 413,
 15476: 414,
 15507: 415,
 15517: 416,
 15519: 417,
 15543: 418,
 15685: 419,
 15773: 420,
 15828: 421,
 15870: 422,
 15883: 423,
 15917: 424,
 15943: 425,
 15958: 426,
 15983: 427,
 15991: 428,
 16057: 429,
 16092: 430,
 16133: 431,
 16139: 432,
 16144: 433,
 16147: 434,
 16165: 435,
 16173: 436,
 16197: 437,
 16272: 438,
 16282: 439,
 16286: 440,
 16334: 441,
 16344: 442,
 16445: 443,
 16546: 444,
 16573: 445,
 16575: 446,
 16578: 447,
 16593: 448,
 16643: 449,
 16650: 450,
 16651: 451,
 16657: 452,
 16687: 453,
 16698: 454,
 16710: 455,
 16721: 456,
 16757: 457,
 16763: 458,
 16819: 459,
 16846: 460,
 16863: 461,
 16891: 462,
 16932: 463,
 16948: 464,
 16976: 465,
 17005: 466,
 17132: 467,
 17135: 468,
 17166: 469,
 17168: 470,
 17174: 471,
 17197: 472,
 17206: 473,
 17251: 474,
 17311: 475,
 17332: 476,
 17334: 477,
 17371: 478,
 17393: 479,
 17445: 480,
 17531: 481,
 17644: 482,
 17655: 483,
 17667: 484,
 17682: 485,
 17688: 486,
 17794: 487,
 17796: 488,
 17800: 489,
 17805: 490,
 17806: 491,
 17843: 492,
 17845: 493,
 17952: 494,
 18014: 495,
 18019: 496,
 18143: 497,
 18199: 498,
 18220: 499,
 18221: 500,
 18235: 501,
 18293: 502,
 18328: 503,
 18333: 504,
 18375: 505,
 18389: 506,
 18407: 507,
 18420: 508,
 18468: 509,
 18471: 510,
 18526: 511,
 18598: 512,
 18605: 513,
 18618: 514,
 18685: 515,
 18703: 516,
 18704: 517,
 18789: 518,
 18832: 519,
 18866: 520,
 18886: 521,
 18916: 522,
 19094: 523,
 19102: 524,
 19124: 525,
 19137: 526,
 19141: 527,
 19156: 528,
 19213: 529,
 19221: 530,
 19326: 531,
 19411: 532,
 19440: 533,
 19460: 534,
 19479: 535,
 19530: 536,
 19583: 537,
 19596: 538,
 19659: 539,
 19735: 540,
 19775: 541,
 19784: 542,
 19851: 543,
 19886: 544,
 19901: 545,
 19905: 546,
 19915: 547,
 19918: 548,
 19946: 549,
 19959: 550,
 19960: 551,
 19983: 552,
 20010: 553,
 20015: 554,
 20035: 555,
 20109: 556,
 20168: 557,
 20181: 558,
 20187: 559,
 20314: 560,
 20316: 561,
 20335: 562,
 20348: 563,
 20382: 564,
 20398: 565,
 20425: 566,
 20546: 567,
 20554: 568,
 20555: 569,
 20568: 570,
 20600: 571,
 20672: 572,
 20684: 573,
 20763: 574,
 20924: 575,
 20981: 576,
 21055: 577,
 21122: 578,
 21123: 579,
 21312: 580,
 21388: 581,
 21549: 582,
 21551: 583,
 21602: 584,
 21643: 585,
 21684: 586,
 21688: 587,
 21715: 588,
 21741: 589,
 21782: 590,
 21789: 591,
 21799: 592,
 21830: 593,
 21862: 594,
 21873: 595,
 21982: 596,
 21998: 597,
 22096: 598,
 22111: 599,
 22166: 600,
 22175: 601,
 22209: 602,
 22465: 603,
 22475: 604,
 22513: 605,
 22587: 606,
 22596: 607,
 22636: 608,
 22692: 609,
 22771: 610,
 22868: 611,
 22869: 612,
 22892: 613,
 22907: 614,
 22954: 615,
 23080: 616,
 23158: 617,
 23166: 618,
 23184: 619,
 23228: 620,
 23232: 621,
 23274: 622,
 23302: 623,
 23307: 624,
 23394: 625,
 23403: 626,
 23493: 627,
 23505: 628,
 23573: 629,
 23665: 630,
 23689: 631,
 23718: 632,
 23738: 633,
 23813: 634,
 23818: 635,
 23844: 636,
 23905: 637,
 23909: 638,
 23942: 639,
 23985: 640,
 24025: 641,
 24081: 642,
 24089: 643,
 24093: 644,
 24099: 645,
 24131: 646,
 24184: 647,
 24198: 648,
 24227: 649,
 24302: 650,
 24345: 651,
 24385: 652,
 24397: 653,
 24398: 654,
 24429: 655,
 24515: 656,
 24517: 657,
 24523: 658,
 24576: 659,
 24627: 660,
 24762: 661,
 24775: 662,
 24776: 663,
 24783: 664,
 24794: 665,
 24810: 666,
 24825: 667,
 24861: 668,
 24911: 669,
 25035: 670,
 25062: 671,
 25183: 672,
 25254: 673,
 25289: 674,
 25318: 675,
 25377: 676,
 25381: 677,
 25383: 678,
 25411: 679,
 25470: 680,
 25493: 681,
 25567: 682,
 25593: 683,
 25599: 684,
 25600: 685,
 25644: 686,
 25733: 687,
 25756: 688,
 25781: 689,
 25807: 690,
 25830: 691,
 25850: 692,
 25860: 693,
 25878: 694,
 25883: 695,
 25902: 696,
 25925: 697,
 26005: 698,
 26031: 699,
 26032: 700,
 26066: 701,
 26103: 702,
 26133: 703,
 26196: 704,
 26289: 705,
 26334: 706,
 26350: 707,
 26420: 708,
 26421: 709,
 26526: 710,
 26569: 711,
 26596: 712,
 26634: 713,
 26700: 714,
 26726: 715,
 26746: 716,
 26757: 717,
 26766: 718,
 26807: 719,
 26876: 720,
 26885: 721,
 26953: 722,
 26976: 723,
 27000: 724,
 27078: 725,
 27094: 726,
 27158: 727,
 27222: 728,
 27281: 729,
 27297: 730,
 27298: 731,
 27374: 732,
 27378: 733,
 27413: 734,
 27424: 735,
 27461: 736,
 27565: 737,
 27583: 738,
 27598: 739,
 27603: 740,
 27618: 741,
 27640: 742,
 27653: 743,
 27682: 744,
 27710: 745,
 27717: 746,
 27718: 747,
 27755: 748,
 27790: 749,
 27806: 750,
 27811: 751,
 27821: 752,
 27929: 753,
 27962: 754,
 28036: 755,
 28049: 756,
 28074: 757,
 28100: 758,
 28101: 759,
 28216: 760,
 28234: 761,
 28293: 762,
 28330: 763,
 28403: 764,
 28410: 765,
 28432: 766,
 28452: 767,
 28533: 768,
 28545: 769,
 28640: 770,
 28712: 771,
 28799: 772,
 28801: 773,
 28931: 774,
 28946: 775,
 29016: 776,
 29097: 777,
 29155: 778,
 29179: 779,
 29210: 780,
 29242: 781,
 29345: 782,
 29363: 783,
 29371: 784,
 29431: 785,
 29503: 786,
 29507: 787,
 29532: 788,
 29580: 789,
 29592: 790,
 29702: 791,
 29710: 792,
 29711: 793,
 29732: 794,
 29733: 795,
 29745: 796,
 29768: 797,
 29936: 798,
 29941: 799,
 29996: 800,
 30076: 801,
 30175: 802,
 30188: 803,
 30242: 804,
 30261: 805,
 30297: 806,
 30300: 807,
 30363: 808,
 30397: 809,
 30459: 810,
 30476: 811,
 30507: 812,
 30526: 813,
 30616: 814,
 30708: 815,
 30733: 816,
 30736: 817,
 30778: 818,
 30801: 819,
 30805: 820,
 30834: 821,
 30837: 822,
 30858: 823,
 30879: 824,
 30943: 825,
 30958: 826,
 31012: 827,
 31016: 828,
 31027: 829,
 31068: 830,
 31091: 831,
 31123: 832,
 31159: 833,
 31184: 834,
 31226: 835,
 31265: 836,
 31273: 837,
 31284: 838,
 31305: 839,
 31415: 840,
 31440: 841,
 31547: 842,
 31620: 843,
 31636: 844,
 31644: 845,
 31648: 846,
 31657: 847,
 31764: 848,
 31832: 849,
 31850: 850,
 31876: 851,
 31930: 852,
 32017: 853,
 32050: 854,
 32051: 855,
 32109: 856,
 32145: 857,
 32157: 858,
 32290: 859,
 32436: 860,
 32482: 861,
 32498: 862,
 32564: 863,
 32586: 864,
 32600: 865,
 32625: 866,
 32656: 867,
 32704: 868,
 32824: 869,
 32840: 870,
 32841: 871,
 32908: 872,
 32993: 873,
 33005: 874,
 33023: 875,
 33172: 876,
 33271: 877,
 33275: 878,
 33295: 879,
 33303: 880,
 33445: 881,
 33481: 882,
 33505: 883,
 33511: 884,
 33516: 885,
 33545: 886,
 33571: 887,
 33605: 888,
 33778: 889,
 33795: 890,
 33843: 891,
 33930: 892,
 33992: 893,
 34006: 894,
 34033: 895,
 34128: 896,
 34180: 897,
 34254: 898,
 34261: 899,
 34270: 900,
 34426: 901,
 34441: 902,
 34466: 903,
 34473: 904,
 34487: 905,
 34530: 906,
 34604: 907,
 34631: 908,
 34652: 909,
 34696: 910,
 34710: 911,
 34715: 912,
 34723: 913,
 34748: 914,
 34767: 915,
 34798: 916,
 34800: 917,
 34814: 918,
 34876: 919,
 34882: 920,
 34905: 921,
 35082: 922,
 35096: 923,
 35119: 924,
 35137: 925,
 35153: 926,
 35166: 927,
 35169: 928,
 35187: 929,
 35189: 930,
 35211: 931,
 35216: 932,
 35258: 933,
 35321: 934,
 35350: 935,
 35361: 936,
 35424: 937,
 35430: 938,
 35460: 939,
 35465: 940,
 35485: 941,
 35522: 942,
 35541: 943,
 35616: 944,
 35630: 945,
 35650: 946,
 35696: 947,
 35792: 948,
 35852: 949,
 35878: 950,
 35941: 951,
 35954: 952,
 35972: 953,
 35984: 954,
 36022: 955,
 36023: 956,
 36049: 957,
 36061: 958,
 36066: 959,
 36110: 960,
 36118: 961,
 36146: 962,
 36295: 963,
 36297: 964,
 36310: 965,
 36347: 966,
 36390: 967,
 36425: 968,
 36433: 969,
 36463: 970,
 36481: 971,
 36537: 972,
 36629: 973,
 36690: 974,
 36691: 975,
 36720: 976,
 36760: 977,
 36943: 978,
 37023: 979,
 37080: 980,
 37101: 981,
 37120: 982,
 37134: 983,
 37198: 984,
 37199: 985,
 37251: 986,
 37277: 987,
 37284: 988,
 37292: 989,
 37295: 990,
 37316: 991,
 37336: 992,
 37339: 993,
 37367: 994,
 37383: 995,
 37441: 996,
 37463: 997,
 37466: 998,
 37544: 999,
 ...}

## Modelo